body {
  background-color: rgb(61, 61, 61);
}
.dov {
  padding-top: 100px;
}
.form {
  width: 350px;
  height: 290px;
  border: 2px solid black;
  margin: auto;
  border-radius: 15px;
  background-color: rgb(185, 186, 184);
}
.input {
  width: 200px;
  height: 18px;
  border-radius: 8px;
}
.submit {
  width: 70px;
  height: 27px;
  border-radius: 8px;
}
